Page {
  background-color: black;
}
ListView{
  opacity: 0;
  background-color: #00000000;
}

.grid-layout{
  background-image: url("res://bg_inner");
}

.visible{
  animation-name: show;
  animation-duration: 1s;
}

@keyframes show{
  from {opacity: 0;}
  to {opacity: 1;}
}

Image {
  text-align: center;
  vertical-align: center;
  margin: 0;
}
TextField {
  color: white;
}

.list-view-item {
  background-color: #00000000;
  height: 250;
  color: #212121;
  padding-top: 16;
  padding-bottom: 16;
  padding-left: 16;
  padding-right: 16;
}